.list {
  width: 100%;
  height: 100%;
  background-color: #00153A;
}

/* ITEM */
.card-item {
  width: 100%;
  height: 160px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.card-item2 {
  width: 100%;
  height: 300px;
  margin-top: 85px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* CARD */
.card {
  width: 72%;
  height: 140px;
  border-radius: 20px;
  background-color: #124B9A;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card2 {
  width: 120%;
  height: 300px;
  border-radius: 20px;
  background-color: #124B9A;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TITLES */
.title {
  font-size: 20px;
  color: #ffffff;
}

/* TEXT */
.value {
  font-size: 14px;
  color: #7BE1FF;
  margin-top: 2px;
  text-align: center;
}

.value2 {
  font-size: 14px;
  color: #7BE1FF;
  text-align: center;
}

/* FILE BLOCK */
.file-card {
  width: 90%;
  height: 260px;
  border-radius: 20px;
  background-color: #124B9A;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 10px;
}

.file-text {
  width: 92%;
  font-size: 11px;
  color: #ffffff;
}